* {
  margin: 0;
}

body {
  background-color: #141414;
}

.video {
  width: 100%;
  aspect-ratio: 16/9;
}

.navbar,
.navbar-menu {
  background: #000 !important;
  color: white !important;
}
.navbar a {
  color: white !important;
}

.article a {
  font-family: "Overpass", sans-serif;
}

.list {
  font-family: "Overpass", sans-serif;
}
